<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Not Found</title>
    </head>

    <body>
        <%- include("templates/header") %>
        <br><br><br>
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">404 Error! Page Does Not Exist!</h1>
            <br>



        </div>
        <br><br><br><br><br><br><br><br>
        <%- include("templates/footer") %>

    </body>
    </html>