<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
        <%- include("templates/header") %>
            <br><br><br>
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis"><%= name %> is at the
                    Home Page!</h1>
                <br>
                <div class="col-lg-6 mx-auto">
                    <div class="d-grid gap-2 d-sm-flex
                        justify-content-sm-center">
                        <a href="/members"><button type="button" class="btn
                                btn-primary btn-lg px-4 gap-3">Members</button></a>
                        <a href="/logout"><button type="button" class="btn
                                btn-outline-secondary btn-lg px-4">Log Out</button></a>
                    </div>
                </div>


            </div>
            <br><br><br><br><br><br><br><br>
            <%- include("templates/footer") %>

            </body>

        </html>
