<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Not Logged In!</title>
    </head>

    <body>
        <h1>Not Logged In!</h1>
        <p>You must be logged in to view this page.</p>
        <a href="/login">Log In</a>
    </body>

</html>