<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>

        <link rel="canonical"
            href="https://getbootstrap.com/docs/5.3/examples/footers/">
        <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous">

        <!-- Favicons -->
        <link rel="apple-touch-icon"
            href="/docs/5.3/assets/img/favicons/apple-touch-icon.png"
            sizes="180x180">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png"
            sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png"
            sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
        <link rel="mask-icon"
            href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg"
            color="#712cf9">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
        <meta name="theme-color" content="#712cf9">
    </head>

    <body>
        <footer class="d-flex flex-wrap justify-content-between
            align-items-center py-3 my-4 border-top">
            <div class="d-flex flex-column flex-sm-row justify-content-between
                py-4 my-4 border-top">
                <p>&copy; 2023 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg
                                class="bi" width="24" height="24"><use
                                    xlink:href="#twitter"/></svg></a>
                    </li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg
                                    class="bi" width="24" height="24"><use
                                        xlink:href="#instagram"/></svg></a>
                    </li>
                    <li class="ms-3"><a class="link-body-emphasis"
                                    href="#"><svg class="bi" width="24"
                                        height="24"><use
                                            xlink:href="#facebook"/></svg></a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>

</html>